Source: golang-mgo-bson
Section: devel
Priority: extra
Maintainer: Kouhei Maeda <mkouhei@palmtb.net>
Build-Depends: debhelper (>= 9.0.0), dh-golang, golang-go, golang-gocheck-dev
Standards-Version: 3.9.5
Homepage: http://godoc.org/labix.org/v2/mgo/bson

Package: golang-mgo-bson-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-go
Description: implementation of the BSON specification for Go
 It was created as part of the mgo MongoDB driver for Go,
 but is standalone and may be used on its own without the driver.
 mgo: labix.org/v2/mgo/bson
